body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    overflow: hidden; /* para limpar o float */
  }
  header h1 {
    margin: 0;
  }
  header a {
    display: flex;
    align-items: center;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  h1 {
    font-size: 36px;
    margin: 0;
  }
  header a img {
    width: 30px;
    height: 30px;
  }
  .about {
  padding: 20px;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.about:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}


.about h3 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 10px;
  transition: color 0.2s ease-in-out;
}

.about p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.2s ease-in-out;
}
.about__title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about:hover h3, .about:hover p {
  color: #000000;
} 
.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}
h2 {
  text-align: center;
}
.project {
    display: flex;
    flex-direction: column;
	flex-basis: 40%;
	margin: 1%;
	background-color: #f4f4f4;
	padding: 20px;
	text-align: center;
  transition: all 3s;
}
.project:hover {
  /* estilos do projeto ao passar o mouse por cima */
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 1;
  font-size: 17px;
  background-color: #e8f1f2;
  color: #13293d;
}
.project img {
	max-width: 100%;
}
.project h3 {
	margin-top: 10px;
}
.project p {
	font-size: 14px;
}
footer {
	background-color: #e8f1f2;
	color: #247ba0;
	padding: 20px;
	margin-top: auto;
	text-align: center;
	transition: background-color 0.3s ease;
    transition: all s;
}
footer:hover {
	color: #ffffff;
    background-color:#13293d;
}
.titulo {
    transition: all 3s;
}
.titulo:hover {
	color: #ff0051;
  cursor: pointer;
  font-size: 40px;
 } 
.skills {
	background-color: #f5f5f5;
	padding: 50px 0;
    text-align: center;
}
.skills table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}
.skills table td, 
.skills table th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	font-size: 18px;
	color: #333;
}
.skills table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.skills table th {
	background-color: #009688;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}
.skills table th:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.skills table th:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.skills td:hover {
  transform: scale(1.1);
  background-color: #B3093F;
  color: #fff;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  a:hover {
    color: #FFA500;
  }
  .ponteiro-mouse:hover{
    cursor: pointer;
  }
  
 
  

  
